/*
 * =============================================================================
 * FONTS
 * =============================================================================
 */

/* AeroMatics */
@font-face {
  font-family: 'AeroMatics';
  src: url('../assets/fonts/aero_matics/Aero Matics Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AeroMatics';
  src: url('../assets/fonts/aero_matics/Aero Matics Light Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'AeroMatics';
  src: url('../assets/fonts/aero_matics/Aero Matics Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AeroMatics';
  src: url('../assets/fonts/aero_matics/Aero Matics Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'AeroMatics';
  src: url('../assets/fonts/aero_matics/Aero Matics Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AeroMatics';
  src: url('../assets/fonts/aero_matics/Aero Matics Bold Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* AeroMatics Display */
@font-face {
  font-family: 'AeroMatics Display';
  src: url('../assets/fonts/aero_matics/Aero Matics Display Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AeroMatics Display';
  src: url('../assets/fonts/aero_matics/Aero Matics Display Light Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'AeroMatics Display';
  src: url('../assets/fonts/aero_matics/Aero Matics Display Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AeroMatics Display';
  src: url('../assets/fonts/aero_matics/Aero Matics Display Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'AeroMatics Display';
  src: url('../assets/fonts/aero_matics/Aero Matics Display Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AeroMatics Display';
  src: url('../assets/fonts/aero_matics/Aero Matics Display Bold Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Days */
@font-face {
  font-family: 'Days';
  src: url('../assets/fonts/days/Days.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Silkscreen */
@font-face {
  font-family: 'Silkscreen';
  src: url('../assets/fonts/silkscreen/slkscr.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Silkscreen';
  src: url('../assets/fonts/silkscreen/slkscrb.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
