@use 'fonts';

:root {
  --white: #FFFFFF;
  --cream: #BDBC8E;
  --yellow: #FFD148;
  --yellow-25: color-mix(in srgb, var(--yellow) 25%, transparent);
  --orange: #DD7123;
  --green: #132816;
  --dark-green: #152117;
  --black: #000000;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

/*
 * =============================================================================
 * BODY DEFAULTS
 * =============================================================================
 */
body {
  font-family: 'AeroMatics', sans-serif;
  min-height: 100vh;
  
  background-image:
    url('../assets/images/bg-texture.png'),
    linear-gradient(
      180deg,
      var(--dark-green) 0%,
      #000701 30%,
      var(--green) 70%,
      var(--dark-green) 80%,
      #000701 99%
    );
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  // background-attachment: fixed, fixed;      /* both pinned to the viewport */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Days', sans-serif; 
}

section {
  padding: 6rem 12rem;
}

/*
 * =============================================================================
 * UTILITIES
 * =============================================================================
 */
.orange {
  color: var(--orange);
}

.yellow {
  color: var(--yellow);
}